.page-сollection {
    position: relative;
    float: left;
    text-align: center;
    width: 80%;
    margin-top: 1%;
    margin-left: 150px;
    
    .btn__clear {
        float: right;
        position: relative;
        margin-right: 5px;
        margin-top: 5px;
        background-color: #db6521;
        filter: opacity(100%);
    
        &:hover {
            background-color: #ff0000;
        }
    }
}

