.menu-left {
    position: absolute;

    width: 120px;
    height: 100%;

    font-weight: bold;
    background-color: #868686;
    text-align: center;
    font-size: 1.3em;
    user-select: none;

    .menu-title {
        line-height: 40px;
        font-size: 1.3em;
        cursor: default;
        color: #000000;
    }

    .link {
        display: flex;
        flex-direction: column;

        margin-top: 10px;

        color: #1100ff;

        &:hover {
            color: #dbc713;
        }
    }

    .link__active {
        display: flex;
        flex-direction: column;

        margin-top: 10px;

        color: #11e634;
        cursor: default;
    }
}
