.input {
    position: relative;

    border: 2px solid #6d6d6d;
    border-radius: 10px;
    font-size: 1.2em;
    outline: 0px;

    &:focus {
        border: 2px solid #0584b6;
    }

    &.input--valid-ok {
        border: 2px solid #108a00;

        &:focus {
            border: 2px solid #108a00;
        }
    }

    &.input--valid-false {
        border: 2px solid #e20909;

        &:focus {
            border: 2px solid #e20909;
        }
    }
}
