@keyframes show{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form-search {
    position: relative;
    text-align: center;

    min-width: 400px;
    width: 80%;
    height: 100px;

    margin-left: 5%;
    margin-right: 30%;
    padding: 1em;
    padding-top: 1em;

    font-size: 1.2em;
    border-radius: 50px;
    background-color: #adb89f;

    .btn {
        margin-top: 0.25em;
        margin-left: 1em;
        font-size: 1.1em;

        color:#17c700;
        width:100px;
        text-decoration:none;
        background-image: linear-gradient(to left,transparent,transparent 50%,#17c700 50%,#17c700);
        background-position: 100% 0;
        background-size: 200% 100%;
        transition: all .25s ease-in;
        border: 1px solid #17c700;
        border-radius: 10px;

        &:hover {
            background-position: 0 0;
            color:#fff;
        }

        &.btn--disable {
            color: rgb(100, 100, 100);
            border-color: #858585;
            &:hover {
                cursor: default;
                background-position: 100% 0;
            }
        }
    }


    .tooltip {
        display: block;

        margin-left: auto;
        margin-right: auto;
        margin-top: 3px;
        left: 0;
        right: 0;

        width: 400px;
        height: 50px;

        border: 2px solid #b13c3c80;
        background-color: #eee5c780;
        color: #360e0ecc;
        font-size: 0.9em;

        opacity: 0;
        animation: show 1s 1;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }
}