.form-search {
    position: relative;
    text-align: center;

    min-width: 400px;
    width: 80%;

    margin-left: 5%;
    margin-right: 30%;
    padding: 1em;
    padding-top: 1em;

    border: 2px dotted black;
    border-radius: 10px;
    font-size: 1.2em;

    .btn {
        margin-top: 0.25em;
        margin-left: 1em;
        font-size: 1em;
    }
}